@import './config.scss';

.container-header{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 24px;
    justify-content: space-between;
    border-bottom: 1px solid #DEF8FF;

    .logo {
        width: 89px;
    }

    button
    {
        display: none;
    }

    div {
        span
        {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: $primaryColor;
            margin-right: 8px;
        }

    }

    @media screen and (min-width : $mediaQueryDesktop){
        padding: 28px 100px;

        .logo {
            width: 188px;
        }

        button {
            display: 'flex';
            align-items: center;
            display: block;
            height: 45px;
            strong{
                font-size: 22px;
                margin-right: 8px;
            }
        }

        div {
            span {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                color: $primaryColor;
                margin-right: 24px;
            }
            img {
                cursor: pointer;
            }
        }        
    }
}